table,
td,
th {
    font-family: Arial, Helvetica, sans-serif;
    border: solid gray 0.01rem;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: gainsboro;
}

td,
th {
    height: 2rem;
    width: 2rem;
}